.banner {
	background: url("https://media.cntraveler.com/photos/5db1d0dd11c1e500092e7133/master/pass/airbnb-ski-aspen-28328347.jpg")
		center center; /* this centers the image */
	height: 50vh;
	position: relative;
}

.banner_info {
	background-color: black;
	color: white;
	padding-top: 15vh;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 69px;
	width: 300px;
}

.banner_info button {
	background-color: #ff7779 !important;
	color: white !important;
	text-transform: inherit;
	margin-top: 20px;
	font-weight: 600;
}

.banner_info button:hover {
	background-color: white !important;
	color: #ff7779 !important;
}

.banner_info h5 {
	margin-top: 10px;
}

.banner_search {
	display: flex;
	flex-direction: column;
}

.banner_searchButton {
	background-color: white !important;
	font-weight: 900 !important;
	text-transform: inherit !important;
	color: #ff7779 !important;
}
