.search {
	position: absolute;
	top: 35px;
	left: 25%;
	width: 100vw;
}

.search h2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 500px;
	padding: 10px;
	background-color: white;
	position: absolute;
	left: 0;
	top: 380px;
}

.search input {
	width: 539px;
	padding: 20px;
	position: absolute;
	left: 0;
	height: 30px;
	top: 420px;
	border: none;
}

.search input:focus {
	/* when the search input field is focused on, make the outline width 0 (i.e, make it dissappear) */
	outline-width: 0;
}
